/*APARTADO CSS PARA QUE QUEDE BONITO*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css");
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}
.contenedor{
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc
}
button{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(10, 179, 10);
    color: white;
}
table{
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}
th, td{
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}
a{
    text-decoration: none;
}
h3{
    text-align: center;
}
th{
    background-color: rgb(116, 212, 116);
}